@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'monospace', sans-serif;
  margin: 0;
  padding: 0;
}

/* Sections */
section {
  align-items: center;
  background: #222;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff2562;
  clip-path: polygon(54% 0, 100% 0, 100% 100%, 84% 100%);
  /*Fading animation*/
  animation-delay: 1.5s;
  animation: fade-in 2.5s ease-in;
  
}

section .content {
  box-sizing: border-box;
  padding: 100px 50px 100px 150px;
  position: relative;
  animation-delay: 1.5s;
  animation: left-in 2.5s ease-in;
  
    
}

section .content h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  
}

section .content p {
  color: #fff;
  font-size: 1.2rem;
  
}

/* Learn more button */
section .content a {
  background: #ff2562;
  color: white;
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 15px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

section .content a:hover {
  color: black;
}

section .imgBox {
  padding-right: 100px;
  position: relative;
  animation-delay: 1.5s;
  animation: left-in 2s ease-in;
  
}

section .imgBox img {
  animation: left-in 0.5s ease-in;
  max-width: 500px;
}

/* social media  button */
.soc {
  animation: left-in 0.5s ease-in;
  bottom: 75px;
  display: flex;
  left: 150px;
  position: absolute;
  animation-delay: 1.5s;
  animation: left-in 1.5s ease-in;
}

.soc li {
  list-style: none;
}

.soc li a {
  color: #fff;
  font-size: 0.9rem;
  margin-right: 30px;
  text-decoration: none;
}

.soc li a:hover {
  color: #ff2562;
}

/* Navigation Bar  */
.nav {
  border-left: 5px solid #ff2562;
  display: flex;
  left: 150px;
  padding-left: 20px;
  position: absolute;
  top: 75px;
  animation-delay: 1.5s;
  animation: left-in 2s ease-in;
}

.nav li {
  list-style: none;
}

.nav li a {
  color: #fff;
  font-weight: 700;
  font-size: 0.9rem;
  margin-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.active,
.nav li a:hover {
  color: #ff2562;
}

#hamburgerBtn{
  position: fixed;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  filter: invert(1);
  background-size: 30px;
  background-repeat:none;
  display: none;
  z-index: 1000;
  
}
#hamburgerBtn:hover{
  cursor: pointer;
  color: yellow;
}

/* Cool frame designes  */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes left-in {
  from {
    transform: translate3d(-200%,0,0);
    visibility: visible;
  }

  to {
    transform: translate3d(0,0,0);
  }
}



@media only screen and (max-width:965px){
  body{
      margin-left: 0;
  }
  #hamburgerBtn:hover{
      color: #be8211;
  }
 
  /* Navbar of the hambuger button*/
  #nav{
    position: fixed;
    top: 0;
    left:0;
    width:100vw;
    height:100vh;
    background: rgb(0,0,0,.95);
    flex-direction: column;
    z-index: 11;
    border: none;
    padding:50px 0;
    justify-content:space-evenly;
    transition: transform 500ms;
    transform: translateX(open);
  
  }
  #nav.open{
      transform: translateX(0);
      left: -1000px;
  }
  .nav li{
      text-align: center;
  }
  #hamburgerBtn{
      display: inline-block;
  }
}

