@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'monospace', sans-serif;
  margin: 0;
  padding: 0;
}

/* Sections */
section {
  align-items: center;
  background: #222;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff2562;
  clip-path: polygon(54% 0, 100% 0, 100% 100%, 84% 100%);
  /*Fading animation*/
  animation: fade-in 0.5s ease-in;
}

section .content {
  animation: left-in 0.5s ease-in;
  box-sizing: border-box;
  padding: 100px 50px 100px 150px;
  position: relative;
}

section .content h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
}

section .content p {
  color: #fff;
  font-size: 1.2rem;
}

/* Learn more button */
section .content a {
  background: #ff2562;
  color: white;
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 15px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

section .content a:hover {
  color: black;
}

section .imgBox {
  padding-right: 100px;
  position: relative;
}

section .imgBox img {
  animation: left-in 0.5s ease-in;
  max-width: 500px;
}

/* social media  button */
.soc {
  animation: left-in 0.5s ease-in;
  bottom: 75px;
  display: flex;
  left: 150px;
  position: absolute;
}

.soc li {
  list-style: none;
}

.soc li a {
  color: #fff;
  font: 0.9rem;
  margin-right: 30px;
  text-decoration: none;
}

.soc li a:hover {
  color: #ff2562;
}

/* Navigation Bar  */
.nav {
  animation: left-in 0.5s ease-in;
  border-left: 5px solid #ff2562;
  display: flex;
  left: 150px;
  padding: 20px;
  position: absolute;
  top: 75px;
}

.nav li {
  list-style: none;
}

.nav li a {
  color: #fff;
  font-weight: 700;
  font: 0.9rem;
  margin-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.active,
.nav li a:hover {
  color: #ff2562;
}

/* Cool frame designes  */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes left-in {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
